/* ***dashboard css*** */

* {
    margin: 0;
    box-sizing: border-box;
  }
  .dash--heading {
    color: white;
    width: 100%;
    background-color: rgb(88, 157, 236);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
  }
  .search button {
    color: #4d4d4f;
  }
  .hotel--name {
    padding-left: 15px;
    width: 50%;
    font-size: 30px;
  }
  .second--part {
    width: 25%;
    display: flex;
    justify-content: space-between;
  }
  .second--part1 {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search input{
    padding: 5px;
  }
  .search button{
    padding: 5px 15px;
    background-color: white;
    border: none;
  }
  .admin--profile {
    padding-right: 15px;
    font-size: 18px;
  }
  
  .dashboard {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
  }
  .sidebar {
    background-color: #f1f5f9;
    width: 15%;
    padding: 15px;
  }
  .sidebar ul {
    padding: 0;
    list-style: none;
    font-size: 24px;
  }
  .sidebar ul li {
    margin-top: 20px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  .sidebar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .sidebar ul li:hover {
    background-color: rgb(141, 39, 237);
  }
  .second--section {
    width: 100%;
  }
  .card--container {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    cursor: pointer;
  }
  .card {
    width: 250px;
    height: 150px;
    padding: 40px 20px 20px 20px;
    border-radius: 10px;
    color: white;
  }
  
  .card h2 {
    font-size: 27px;
  }
  .card p {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
  }
  
  .color1 {
    background-color: rgb(163, 15, 255);
  }
  .color2 {
    background-color: green;
  }
  .color3 {
    background-color: skyblue;
  }
  .color4 {
    background-color: lavender;
  }
  .more--details {
    margin: 20px;
    padding: 15px;
    text-align: center;
  }
  
  table caption {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
  }
  .footer {
    background-color: rgb(88, 157, 236);
    height: 40px;
  }
  
  /* ***dashboard css*** */
  .dash--heading {
    color: white;
    width: 100%;
    background-color: rgb(88, 157, 236);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
  }
  .search button {
    color: #4d4d4f;
  }
  .hotel--name {
    padding-left: 15px;
    width: 50%;
    font-size: 30px;
  }
  .second--part {
    width: 25%;
    display: flex;
    justify-content: space-between;
  }
  
  .admin--profile {
    padding-right: 15px;
    font-size: 18px;
  }
  
  .dashboard {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
  }
  .sidebar {
    background-color: #4d4d4f;
    width: 15%;
    padding: 15px;
    height: 90vh;
  }
  .sidebar ul {
    padding: 0;
    list-style: none;
    font-size: 24px;
  }
  .sidebar ul li {
    margin-top: 20px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  .sidebar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .sidebar ul li:hover {
    background-color: rgb(141, 39, 237);
  }
  .second--section {
    width: 100%;
  }
  .card--container {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    cursor: pointer;
  }
  .card {
    width: 250px;
    height: 150px;
    padding: 40px 20px 20px 20px;
    border-radius: 10px;
    color: white;
  }
  
  .card h2 {
    font-size: 27px;
  }
  .card p {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
  }
  
  .color1 {
    background-color: rgb(163, 15, 255);
  }
  .color2 {
    background-color: green;
  }
  .color3 {
    background-color: skyblue;
  }
  .color4 {
    background-color: red;
  }
  .more--details {
    margin: 20px;
    padding: 15px;
    text-align: center;
  }
  
  table caption {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  table th, td{
    padding: 6px;
  }
  .footer {
    background-color: rgb(88, 157, 236);
    height: 40px;
  }
  
  
  /*guest dashboard.css*/
  a{
    text-decoration: none;
  }
  
  i{
    font-size: 20px;
  }
  
  .admin--profile{
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .admin--profile img{
    margin-left: 10px;
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  