/* css for dashboard */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9f9;
}
.dash--heading {
  color: white;
  height: 60px;
  background-color: #273051;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;
  position: sticky;
  top: 0;
  transition: top 0.3s ease;
}
.search button {
  color: #4d4d4f;
}
.hotel--name {
  padding-left: 15px;
  width: 80px;
  height: 80px;
  font-size: 30px;
}
.hotel--name img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.admin--profile {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding-right: 20px;
  font-size: 18px;
}
.profile-picture {
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
}

.admin--profile img {
  width: 50px;
  height: 50px;
  clip-path: circle(50% at center);
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}

.dashboard {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
}
.sidebar {
  background-color: #f9f9f9;
  width: 15%;
  padding: 15px;
}
.sidebar ul {
  padding: 0;
  list-style: none;
  font-size: clamp(0.875rem, 0.7452rem + 0.5769vw, 1.25rem);
  position: sticky;
  top: 110px;
  transition: top 0.3s ease;
}
.sidebar ul li {
  margin-top: 20px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}
.sidebar ul li a {
  text-decoration: none;
  color: #6869ce;
  cursor: pointer;
}
.sidebar ul li:hover {
  background-color: #8d69c0;
  color: #f9f9f9;
  border-radius: 10px;
}
.sidebar a:hover {
  color: #f9f9f9;
}
.second--section {
  width: 100%;
}
.card--container {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}
.card {
  width: 250px;
  height: 150px;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
  color: white;
}

.card h2 {
  font-size: 27px;
}
.card p {
  font-size: 30px;
  padding-top: 20px;
  font-weight: 600;
}

.color1 {
  background-color: rgb(163, 15, 255);
}
.color2 {
  background-color: green;
}
.color3 {
  background-color: skyblue;
}
.color4 {
  background-color: red;
}
.more--details {
  margin: 20px;
  text-align: center;
}

table caption {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
table th,
td {
  padding: 6px;
}
.footer {
  background-color: rgb(88, 157, 236);
  height: 40px;
}

/* css for hoteladd.php start */

.dropdown-btn {
  cursor: pointer;
  position: relative;
  color: #6869ce;
}

.dropdown-btn:hover {
  color: #f9f9f9;
}
.dropdown-btn i {
  position: absolute;
  color: #6869ce;
  font-size: 16px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.dropdown-content {
  display: none;
  position: inherit;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown.active .dropdown-btn i {
  transform: translateY(-50%) rotate(90deg);
}

.part {
  display: flex;
  justify-content: space-between;
}

.part--zero {
  display: flex;
  flex-wrap: wrap;
}

.part--one {
  width: 20%;
  background-color: #f9f9f9;
  padding: 10px;
}

.part--one ul li {
  list-style-type: none;
  padding: 10px 0;
}

.part--two {
  width: 75%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

.elements {
  width: 47%;
  padding: 30px;
}

.elements input {
  width: 100%;
  padding: 10px;
}

.elements button {
  padding: 15px 45px;
}

.description {
  padding: 10px 30px;
  width: 100%;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
}

.remove-btn {
  margin-left: auto;
  color: red;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.room {
  width: 49%;
}

.room input {
  width: 100%;
  padding: 10px;
}

.elements select {
  padding: 10px 40px;
}

.divimages {
  margin-bottom: 10px;
}

.image-preview {
  max-width: 300px;
  max-height: 300px;
  margin-top: 10px;
}

/* css for hoteladd.php end */
