/* css for dashboard */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #8d69c0;
}
.dash--heading {
  color: white;
  height: 60px;
  background-color: #273051;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;
  position: sticky;
  top: 0;
  transition: top 0.3s ease;
}
.search button {
  color: #4d4d4f;
}
.hotel--name {
  padding-left: 15px;
  width: 80px;
  height: 80px;
  font-size: 30px;
}
.hotel--name img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.admin--profile {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding-right: 20px;
  font-size: 18px;
}
.profile-picture {
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
}
.default-profile-image {
  padding: 15px;
  border: 2px solid white;
  border-radius: 50%;
}


.admin--profile img {
  width: 50px;
  height: 50px;
  clip-path: circle(50% at center);
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}

.dashboard {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  flex: 1;
}
.sidebar {
  background-color: #f9f9f9;
  width: 15%;
  padding: 15px;
}
.sidebar ul {
  padding: 0;
  list-style: none;
  font-size: clamp(0.875rem, 0.7452rem + 0.5769vw, 1.25rem);
  position: sticky;
  top: 110px;
  transition: top 0.3s ease;
}
.sidebar ul li {
  margin-top: 20px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}
.sidebar ul li a {
  text-decoration: none;
  color: #6869ce;
  cursor: pointer;
}
.sidebar ul li:hover {
  background-color: #8d69c0;
  color: #f9f9f9;
  border-radius: 10px;
}
.sidebar a:hover {
  color: #f9f9f9;
}
.second--section {
  width: 100%;
}
.card--container {
  margin: 20px;
  display: flex;
  column-gap: 50px;
  padding: 20px 80px; 
  cursor: pointer;
  flex-wrap: wrap;
  row-gap: 40px;
  
}
.card--content{
  background: linear-gradient(to top, #7969c7, #2b3454);
  color: #f9f9f9;
  height: 180px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  border: 1px solid #8d69c0;
  border-radius: 10px;
}

.card--content:hover{
  background: linear-gradient(to top, #a18bd3, #415180);
}

.card--content p{
  font-size: 30px;
  font-weight: 600;
}
.more--details {
  margin: 20px;
  text-align: center;
 
}

table caption {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
table th,
td {
  padding: 6px;
}
.footer {
  background-color: #2b3454;
  height: 40px;
  flex-shrink: 0;
}

/* css for hoteladd.php start */

.part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 30px;
}

.part button {
  padding: 6px 25px;
  cursor: pointer;
  background: linear-gradient(to top, #7969c7, #2b3454);
  color: #f9f9f9;
  border: none;
}

.part--two {
  width: auto;
  padding: 30px 80px 30px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: space-between;
}
.elements input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.elements button {
  padding: 15px 45px;
  border: none;
}
.elements,
.service {
  padding: 20px 0;
}
.service button {
  padding: 6px 20px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border: 1px solid #7969c7;
  cursor: pointer;
}

.submit button {
  margin-top: 10px;
  padding: 10px 50px;
  background-color: #f9f9f9;
  border: 1px solid #7969c7;
  cursor: pointer;
}
.divimages input {
  padding: 0 20px;
  margin-top: 10px;
  cursor: pointer;
}

.divimages {
  padding: 10px 0;
}

.services-container,
.room-container {
  row-gap: 20px;
  display: flex;
  padding: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  margin: 10px 0;
}

.room-field select,
.room-field input,
.service-field input {
  padding: 6px 40px;
  background-color: #f9f9f9;
  border: 1px solid #7969c7;
}

.divimages {
  margin-bottom: 10px;
}

.image-preview {
  max-width: 300px;
  max-height: 300px;
  margin-top: 10px;
}

hr {
  margin-bottom: 10px;
}

/* css for hoteladd.php end */
