/*css for login and signup*/

body {
  background-color: ghostwhite;
  
}
.form {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 75vh;
}

.h2 {
  text-align: center;
  color: #3498db;
  margin-bottom: 40px;
}
h2 {
  font-family: sans-serif;
  font-size: 35px;
}

.login {
  margin: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sign {
  margin: 40px 20px;
  text-align: center;
}
input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
a {
  text-decoration: none;
}
.button-1 a {
  color: white;
}
.button {
  background-color: #3498db;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 14px;
  display: block;
  letter-spacing: 0.04rem;
}
.button-1 {
  background-color: #41b728;
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 14px;
  margin: 0 auto;
  display: block;
  letter-spacing: 0.04rem;
}
.button:hover {
  background-color: #217dbb;
}
.button-1:hover {
  background-color: #259430;
}

/*sign up*/
.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form--2 {
  height: 90vh;
  margin-top: 0;
  width: 450px;
}
.sign1 {
  margin: 20px 20px;
  text-align: center;
}
.content {
  margin: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
label {
  display: block;
  color: #555;
}
.form--2 button {
  width: 100%;
  color: white;
}
.container h2 {
  margin-left: 30px;
  font-family: sans-serif;
}
.content p {
  text-align: center;
}

/*forgot */

.form--3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.form--3 form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 40vh;
}

.login--2 {
  margin: 40px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
/*change password*/
.form--4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.form--4 form {
  height: 50vh;
}
p {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: #343434;
}

/*adminlogin*/
.login--3{
  margin: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
h2{
  margin-left: 30px;
  font-family: sans-serif;
}